#words {
  /* border: 1px solid black;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display:flex;
  flex-direction:row;
  justify-content: flex-start; */
  /* display:block; */
}
input{
 width:20px;
 opacity:0%;
}
.left-words{
  min-width: 49%;
  max-width: 49%;
  color: #6174b4;
  float: left;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  padding-right: 0px;
  margin-right:0px;
}

.right-words{
  max-width: 50%;
  min-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  float:right;
  padding-left: 0px;
  margin-left:0px;
}

.left-words, .right-words, .current-word{
  height: inherit;
    line-height: 4.5em;
    height: 100px;
    font-family: Merriweather;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    font-size: 1.9em;
    border: 0;
    outline: 0;
    vertical-align: middle;
}
/* .current-word{

} */

